html[data-bs-theme="dark"] code {
  background-color: transparent;
}

.navbar-brand+.nav-text {
  color: var(--bs-navbar-color) !important;
}

code a:any-link {
  text-decoration-color: currentColor !important;
}